<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="k1_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
<!--
                <plugin>mock_components/GenericSystem</plugin>
-->
                <plugin>k1_control/RobotSystem</plugin>
                <param name="device">/dev/serial0</param>
            </hardware>
            <joint name="left_thigh_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_thigh_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_knee_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_knee_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_calf_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_calf_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_thigh_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_thigh_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_knee_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_knee_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_calf_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_calf_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_shoulder_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_shoulder_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_shoulder_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_hip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_hip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_ankle_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_ankle_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_hip_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_hip_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_ankle_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_ankle_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_upper_arm_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_upper_arm_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_lower_arm_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_lower_arm_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_upper_arm_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_upper_arm_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_lower_arm_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_lower_arm_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="head_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['head_joint']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
