<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="k1_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="right_hip">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_hip']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_thigh">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_thigh']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_knee">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_knee']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_calf">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_calf']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_ankle">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_ankle']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_hip">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_hip']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_thigh">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_thigh']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_knee">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_knee']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_calf">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_calf']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_ankle">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_ankle']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_shoulder">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_shoulder']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_upper">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_upper']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="right_arm_lower">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['right_arm_lower']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_shoulder">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_shoulder']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_arm_upper">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_upper']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="left_arm_lower">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['left_arm_lower']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="head">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['head']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
