<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="k1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import k1 urdf file -->
    <xacro:include filename="$(find k1_description)/urdf/k1.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="k1.ros2_control.xacro" />


    <xacro:k1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
